{% extends "base.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-12 news">
                <h2>NEWS</h2>
                <hr class="col-12" />
                <div class="container-fluid">
                    <div class="row">
                        {% for new in news %}
                            {% if loop.index == 1 %}
                            <div class="news-block col-12">
                            {% else %}
                            <div class="news-block col-xs-12 col-sm-6 col-md-3">
                            {% endif %}
                                <h3 class="news-title">{{ new.title }}</h3>
                                <div class="news-date">{{ new.datePublished|date("d M Y") }}</div>
                                <p class="news-text">{{ new.text }}</p>
                            </div>
                            {% if loop.index == 1 %}
                            <hr class="col-12" />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    {{ knp_pagination_render(news) }}
                </div>
            </section>
            <section class="col-xs-12 col-sm-6">
                <div class="facebook">
                    <div class="fb-page" data-href="https://www.facebook.com/ExMisha/" data-tabs="timeline" data-width="400" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ExMisha/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ExMisha/">Ex&gt;Misha</a></blockquote></div>
                </div>
            </section>
            <section class="col-xs-12 col-sm-6">
                <div class="twitter">
                    <div class="tw-page">
                        <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark" href="https://twitter.com/malirobot?ref_src=twsrc%5Etfw">Tweets by malirobot</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}