{% extends "base.html.twig" %}


{% block content %}
            <div class="main col-12">
                <div class="container">
                    <div class="row">
                        <section class="col-12" style="height:40vH;">

                        </section>
                        <section class="col-xs-12 col-sm-6">
                            <div class="facebook">
                                <div class="fb-page" data-href="https://www.facebook.com/ExMisha/" data-tabs="timeline" data-width="400" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ExMisha/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ExMisha/">Ex&gt;Misha</a></blockquote></div>
                            </div>
                        </section>
                        <section class="col-xs-12 col-sm-6">
                            <div class="twitter">
                                <div class="tw-page">
                                    <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark" href="https://twitter.com/malirobot?ref_src=twsrc%5Etfw">Tweets by malirobot</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
{% endblock %}