{% extends "base.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Releases</h1>
                <p>Ex>Misha and related releases brought to you by Pažnje vredne rekords. These are CD-R releases, but they do come with a nice printed cover, sometimes even with a design of your choice.</p>
                <p>Bear in mind that you don't need to order the album in order to hear it. You can find some of my releases on Bandcamp for free and in format of your liking.As for other releases not avaible via Bandcamp, contact me and I'll see what can I do about it.</p>
                <p>One more thing to know is that my resources are limited, that's why ordering more than 5 copies of each album is not allowed. I'll do my best to send them as sson as possible. All releases cost 5 eur per item.</p>
                <div class="col-md-2 col-md-offset-5">
                    <img class="img-responsive" alt="pvr" src="{{ asset('/build/images/paznjevredne.png') }}" width="200" height="200">
                </div>
            </div>
            <div>
                <div class="col-md-8 col-md-offset-2">
                    <table class="table">
                        {% for album in albums %}
                        <tr>
                            <td class="shop-cover">
                                <img class="shop-image" src="{{ album.image }}" title="bice smesno" alt="funny" width="200" height="200">
                            </td>
                            <td class="shop-info">
                                <h4>{{ album.name }}</h4>
                                <p class="p-shop">{{ album.description }}</p>
                            </td>
                        </tr>
                        <br/>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}